<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create Article</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="articleDetails.title" class="form-control" placeholder="Title">
      </div>
  
      <div class="form-group">
        <textarea [(ngModel)]="articleDetails.body" class="form-control"></textarea>
      </div>
  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addArticle()">Create Article</button>
      </div>
  
    </div>
  </div>