<div class="toolbar" *ngIf="!currentUser">
  <a class="nav-item nav-link" routerLink="/login">Login</a>
  <a class="nav-item nav-link" routerLink="/register">Register</a>
</div>

<div class="toolbar" *ngIf="currentUser">
  <a class="nav-item nav-link" routerLink="/home">Home</a>
  <a class="nav-item nav-link" routerLink="/article-list">Articles</a>
  <a class="nav-item nav-link" (click)="logout()">Logout</a>
</div>

<div class="content">
    <alert></alert>
</div>

<router-outlet></router-outlet>